<% include partials/header %>
<h1> This is the home page </h1>

<img src="https://tradeandinvest.wales/sites/default/files/styles/standard_75_desktop_small_retina_webp/public/tech_sector_image_1428x952px_2.jpg?itok=qHepzYPn">
<% include partials/footer %>